<header>
  <div class="logo-area">
    <a class="logo-text" routerLink="/home">Fit Bit</a>
    <!-- <i class="fa-solid fa-heart"></i> -->
    <fa-icon [icon]="faHearth"></fa-icon>
  </div>

  <!--       <ul *ngIf="isLogged">
        <li routerLink="/profile">{{username}}'s profile</li>
        <li (click)="logout()">Logout</li>
      </ul> -->
  <!-- TODO: When there is USER *ngIf for the navigation -->
  <nav>
    <!-- Buttons to change language -->

    <ul class="user-buttons">
      <li><a routerLink="/coaches">Coaches</a></li>
      <!-- <li>
        <a routerLink="/all-courses" routerLinkActive="active">Our courses</a>
      </li> -->

      <!-- <li><button>EN</button></li>
            <li><button>BG</button></li> -->
      <ng-container *ngIf="!isLogged">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ng-container>

      <ng-container class="user-buttons" *ngIf="isLogged">
        <li>
          <a routerLink="/my-courses" routerLinkActive="active">My courses</a>
        </li>
        <li>
          <a routerLink="/my-coaches" routerLinkActive="active">My coaches</a>
        </li>
        <li>
          <a [routerLink]="['/profile', userId]" routerLinkActive="active">My profile</a>
        </li>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
        <!-- <li><a [routerLink]="['details', user.id]" routerLinkActive="active">My proile</a></li> -->
      </ng-container>
    </ul>
  </nav>
</header>
