<header>
  <div class="logo-area">
    <a class="logo-text" routerLink="/home">Fit Bit</a>
    <fa-icon [icon]="faHearth"></fa-icon>
  </div>
  <nav>
    <ul class="user-buttons">
      <li><a routerLink="/coaches">Coaches</a></li>
      <ng-container *ngIf="!isLogged">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ng-container>

      <ng-container class="user-buttons" *ngIf="isLogged">
        <li *ngIf="isCoach">
          <a routerLink="/create" routerLinkActive="active">Create course</a>
        </li>
        <li>
          <a routerLink="/all-courses" routerLinkActive="active">All courses</a>
        </li>
        <li>
          <a routerLink="/my-courses" routerLinkActive="active">My courses</a>
        </li>
        <li>
          <a [routerLink]="['/profile', userId]" routerLinkActive="active"
            >My profile</a
          >
        </li>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
      </ng-container>
    </ul>
  </nav>
</header>
