<header>
    <div class="logo-area">
        <p class="logo-text">Fit Bit</p>
        <i class="fa-solid fa-heart"></i>
    </div>
    <!-- Buttons to change language -->
    <!-- <ul class="header-buttons">
        <li><button>EN</button></li>
        <li><button>BG</button></li>
        <li><button class="login-button">Log in</button></li>
    </ul> -->

    <ul class="user-buttons">
        <li><a href="">My courses</a></li>
        <li><a href="">Consultation</a></li>
        <li><a href="">Somethin else(video)</a></li>
        <li><a href="">My proile</a></li>
    </ul>
</header>