<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="{{coach!.profileImg}}" alt="John" style="width:100%">
  <h1>{{coach!.name}}</h1>
  <p class="title">Email: {{coach!.email}}</p>
  <p>Tel: {{coach!.tel}}</p>
  <p>Courses: {{coursesCount}}</p>
  <div class="btn-links">
      <div class="social-links">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
      </div>
      <p><button *ngIf="user" routerLink="/all-courses">See courses</button></p>
      <p><button *ngIf="!user" routerLink="/login">Login to see courses</button></p>
  </div>
</div>