<section class="profile-page">
  <article class="user-profile">
    <div class="img-container">
      <img src="{{ user!.profileImg }}" alt="profile picture" />
    </div>
    <div>
      <h2>Name: {{ user!.name }}</h2>
      <h3>Email: {{ user!.email }}</h3>
      <p>Tel: {{ user!.tel }}</p>
      <button  type="button" [routerLink]="['/profile', userId, 'edit']">Edit profile</button>
      <!-- <button type="button" class="course-button"  type="button" [routerLink]="['/my-courses', course!.id, 'edit']" [id]="course!.id">Edit</button> -->

    </div>
  </article>

  <article class="user-courses">

    <div *ngIf="!myCourses">
      <p>
        You have no courses!
      </p>
      <button>Go to courses</button>
    </div>

    <div *ngIf="myCourses!" class="my-courses">
      <div *ngIf="myCourses![0]" class="course-card">
        <div class="course-img-container"><img class="course-img" src="{{myCourses![0].images![0]}}" alt="course pic"></div>
        <p>
          {{myCourses![0].title}}
        </p>
        <button [routerLink]="['/my-courses', myCourses![0]!.id]" [id]="myCourses![0]!.id">
          View details
        </button>
      </div>
  
      <div *ngIf="myCourses![1]" class="course-card">
        <div class="course-img-container"><img class="course-img" src="{{myCourses![1].images![0]}}" alt="course pic"></div>
        <p>
          {{myCourses![1].title}}
        </p>
        <button [routerLink]="['/my-courses', myCourses![1]!.id]" [id]="myCourses![1]!.id">
          View details
        </button>
      </div>
  
      <button class="my-courses-btn" routerLink="/my-courses">See all of your courses</button>
    </div>
  
  </article>
</section>
