.profile-page{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* align-items: center; */
  /* justify-content: center; */
}

 .user-profile{
   display: flex;
   align-items: center;
   background-color: #fff;
   color: black;
   padding: 2rem;
   gap:5rem;
   margin: 0 2rem;
   border-radius: 5px;
   box-shadow: 5px 20px 50px #000;
 }

 .user-profile button{
   background-color:  #364857;
   padding: 0.5rem 2rem;
   border: none;
   border-radius: 5px;
   color: #fff;
   font-weight: bold;
   cursor: pointer;
 }

 .user-profile img{
   max-width: 35vw;
 }

 .user-profile button:hover{
   background-color: #55626e;
 }

.img-container{
  border-radius: 50%;
  overflow: hidden;
}

.user-courses{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: black;
  padding: 2rem;
  gap:5rem;
  margin: 0 2rem;
  border-radius: 5px;
  box-shadow: 5px 20px 50px #000;
}

.my-courses{
  display: flex;
  flex-direction: column;
  gap:5rem;
  /* width: 90%; */
}

.course-card{
  display: flex;
  gap:5rem;
  align-items: center;
  justify-content: space-evenly;
}

.course-card button{
	width: 20%;
	height: 40px;
	/* margin: 10px auto; */
	justify-content: center;
	display: block;
	color: #fff;
	background: #364857;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #55626e;
}

.my-courses-btn{
	justify-content: center;
	display: block;
	color: #fff;
	background: #364857;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
  padding: 0.5rem 1rem;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.my-courses-btn:hover{
  background: #55626e;
}

.course-img{
  width: 15vw;
}

.course-img-container{
  max-width: 15vw;
  overflow: hidden;
  border-radius: 50%;
}