.test-main {
    height: 500px;
    background-image: url("https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Fitness/Galleries/10+Fitness+Tips/Muscle-confusion-is-the-only-way-to-go..jpg");
    background-position: -20rem -7rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}