<section id="edit-page">

        <div class="edit">

            <form [formGroup]="editForm" action="" method="post" (ngSubmit)="edit()" class="edit-form">
                <label class="edit-data">Edit data</label>

                <input type="text" name="title" formControlName="title"  id="title" #title>
                <ng-container *ngIf="editForm.get('title')?.touched">
                    <p *ngIf="editForm.get('title')?.errors?.['required']" class="error">
                      Title is required!
                    </p>
                </ng-container>

                <textarea type="text" name="content" formControlName="content" class="course-content"></textarea>

                <ng-container *ngIf="editForm.get('content')?.touched">
                    <p *ngIf="editForm.get('content')?.errors?.['required']" class="error">
                      Content is required!
                    </p>
                </ng-container>

                  <div class="images-checkboxes">
                    <div *ngFor="let image of course!.images" class="checkbox-container">
                      <input type="checkbox" name="images" formControlName="images" checked id="check"> 
                      <label for="check" class="label-imgs">{{image}}</label>
                    </div>
                    <!-- {{image}} -->
                  </div>

                <button>Update</button>
                <!-- <button [routerLink]="['/profile', userId]" type="button">Cancel</button> -->
            </form>

        </div>


</section>